.btn{
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.primary{
    background-color: #00ddff;
    color: black;
}

.secondary{
    background: aliceblue;
    color: black;
}