.data{
  width:400px;
  background:white;
  padding:40px;
  border-radius:6px;
  text-align:center;
}

.buttons{
  display:flex;
  justify-content:center;
  gap:15px;
  margin-top:20px;
}

.forgot{
  font-size:14px;
  color:#acd311;
  cursor:pointer;
  margin-top:10px;
}

.back{
  margin-top:15px;
  cursor:pointer;
  font-size:14px;
  color:#555;
}