.back{
    display: block;
    font-size: 13px;
    color: #00ddff;
    cursor: pointer;
    margin-top: 15px;
    padding-left: 10px;
    text-align: left;
}

.buttons{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}
.buttons button:hover{
    background-color: #00bdda;
}
